
body{
    margin: 10px;
    z-index: 0;
    font-size: 12;
}
a{
    color: black;
}
.nav{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1);

}
.form-control {
    width:620px;
    padding: 10px 10px 10px 10px; 
    border-radius: 50px 50px 50px 50px !important;
  }
.form-control :focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: transparent;
  
}
.container{
    margin-top: 3px;
    margin-left: 100px;

}
.h3{
    font-family: sans-serif;
    font-size:x-large;
    color: black;
}
.card1{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.row-content{
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.overlay{
    margin-left: 50px;
    margin-right: -40px;
    margin-top: -320px;
}
.first_tab{
    margin-top: 200px;
    margin-left: 120px;
    margin-right: 120px;
}
.tab-content{
    margin-top: 20px;

    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    padding-left: 35px;
    
}
.categories{
    margin-top: 20px;
    margin-left: 120px;
    margin-right: 120px;
}
.disp{
    display:inline-flex;
}
/*.carousel-item{
    margin-left: 120px;
    margin-right: 120px;
}*/
.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 40px;
    width: 40px;
    /*background-color: rgba(0, 0, 0, 0.3);*/
    background-color: black;
   /* background-size: 100%, 100%;*/
    border-radius: 50%;
    border: 1px solid black;
}
.table th a{
    color:blue;
}
.table td a{
    color: blue;
}
.overlay2{
    margin-right: -500px;
    max-height: 150px;
    margin-left: -200px;
    margin-top: 100px;
    max-width: 400px;
}
.container2{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 30px;
}
